[package]
name = "bubbaloop"
categories = ["computer-vision", "science::robotics"]
description = "Serving library for computer vision and AI Robotics"
edition = "2021"
homepage = "http://kornia.org"
include = ["Cargo.toml"]
license = "Apache-2.0"
repository = "https://github.com/kornia/kornia-rs"
rust-version = "1.86"
version = "0.0.1-rc.1"

[dependencies]
argh = "0.1"
axum = "0.8"
bincode = "2.0.0"
env_logger = "0.11"
once_cell = "1.21"
log = "0.4"
reqwest = { version = "0.12", features = ["json"] }
rerun = "0.22.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sysinfo = "0.34"
tokio = { version = "1", features = ["full"] }
whoami = "1.5"

# message passing framework
# cu29 = { version = "0.7.0" }
# cu29-helpers = { version = "0.7.0" }
# TODO: fixes ron file connections order issues
cu29 = { git = "https://github.com/copper-project/copper-rs.git", branch = "master" }
cu29-helpers = { git = "https://github.com/copper-project/copper-rs.git", branch = "master" }

# NOTE: this version requires kornia-rs to be at least 0.1.8
kornia = { version = "0.1.8", features = ["gstreamer", "jpegturbo"] }
kornia-paligemma = { git = "https://github.com/kornia/kornia-paligemma.git", branch = "main", features = [] }

[features]
cuda = ["kornia-paligemma/cuda"]
