[package]
name = "bubbaloop"
categories = ["computer-vision", "science::robotics"]
description = "Serving library for computer vision and AI Robotics"
edition = "2021"
homepage = "http://kornia.org"
include = ["Cargo.toml"]
license = "Apache-2.0"
repository = "https://github.com/kornia/kornia-rs"
rust-version = "1.81"
version = "0.0.1-rc.1"

[dependencies]
# external
argh = "0.1"
axum = "0.7"
env_logger = "0.11"
indicatif = { version = "0.17", features = ["rayon"] }
kornia = { version = "0.1.7", features = ["gstreamer"] }
log = "0.4"
rayon = "1.10"
reqwest = { version = "0.12", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
walkdir = "2.5"
whoami = "1.5"
